<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611321729894-h7udplqqae7jss3r63rqba03beo6vesp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611321729894-h7udplqqae7jss3r63rqba03beo6vesp</string>
	<key>API_KEY</key>
	<string>AIzaSyD2zFP6vmCEHadadc7bJ7SJfbOY2KYK7rs</string>
	<key>GCM_SENDER_ID</key>
	<string>611321729894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project0.project0</string>
	<key>PROJECT_ID</key>
	<string>alabenaissia-flutter-project0</string>
	<key>STORAGE_BUCKET</key>
	<string>alabenaissia-flutter-project0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611321729894:ios:32e650e4d5950214caaea7</string>
</dict>
</plist>